.button {
    background-color: var(--second);
    border: toRem(1) solid;
    border-radius: var(--lg);
    color: var(--text-alt);
    font-size: var(--body);
    padding: var(--ss) var(--sm);
    transition: transform 0.1s ease,
                background-color 0.2s ease;
    
    &:hover {
        background-color: var(--second-dark);
    }

    &:active {
        transform: scale(0.98);
    }
}