.footer {
    background-color: var(--first);
    border-top: toRem(3) solid var(--second-light);
    margin-top: toRem(124);
    padding-top: toRem(40);
    padding-bottom: toRem(40);
    text-align: center;

    img {
        cursor: pointer;
        display: inline-block;
        margin: 0 1.6rem;
        width: toRem(40);

        transition: transform 0.3s ease;
    }

    img:hover {
        transform: scale(1.01);
    }

    img:active {
        transform: scale(0.99);
    }
}