html {
    background-color: #fefefe;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    // outline: 1px solid yellow;
}

i {
    display: block;
}