footer {
    margin: 4rem 0;
    text-align: center;

    hr.separator {
        border-style: none;
        background-color: var(--third-color);
        margin: 1.6rem auto;
        height: 0.2rem;
        width: 3.2rem;
    }

    img {
        cursor: pointer;
        display: inline-block;
        margin: 0 1.6rem;
        width: 4.8rem;

        transition: transform 0.3s ease;
    }

    img:hover {
        transform: scale(1.1);
    }

    img:active {
        transform: scale(0.9);
    }
}