$colors: (
    first: #2f70a9,
    first-dark: #00457a,
    first-light: #669edb,
    second: #A4D411,
    second-dark: #70a300,
    second-light: #d9ff54,
    text: #000f1b,
    text-dark: #000000,
    text-light: #2a3541,
    text-alt: #ffffff,

);

:root {

    @each $colorsName, $colorsValue in $colors {
        --#{$colorsName}: #{$colorsValue};
    }

}