@function toRem($px) {
    @return ($px / 16) * 1rem;
}

$font-size: (
    title: toRem(32),
    subtitle: toRem(24),
    body: toRem(15),
);

:root {

    @each $val, $key in $font-size {
        --#{$val}: #{$key}
    }
}

.title {
    color: var(--text);
    font-size: var(--title);
    margin-top: calc(var(--xl) * 2);
    margin-bottom: var(--md);
    text-align: center;
    
    &:first-child {
        margin-top: 0;
    }
}

.subtitle {
    color: var(--text-alt);
    font-weight: normal;
    margin-bottom: toRem(24);
}

.amgnoticias {
    color: var(--text-alt);
    font-size: var(--subtitle);

    span {
        font-weight: 200;
    }
}