-
    const CARDS = [
        {
            title: 'Septiembre 2020',
            subtitle: 'No. 27',
            img: '27.png',
            href: 'https://amgn.mx/newsletters/numero-27-septiembre-2020/',
        },
        {
            title: 'Septiembre 2020',
            subtitle: 'No. 26',
            img: '26.png',
            href: 'https://amgn.mx/newsletters/numero-26-septiembre-2020/',
        },
        {
            title: 'Agosto 2020',
            subtitle: 'No. 25',
            img: '25.png',
            href: 'https://amgn.mx/newsletters/numero-25-agosto-2020/',
        },
        {
            title: 'Julio 2020',
            subtitle: 'No. 24',
            img: '24.png',
            href: 'https://amgn.mx/newsletters/numero-24-julio-2020/',
        },
        {
            title: 'Junio 2020',
            subtitle: 'No. 23',
            img: '23.png',
            href: 'http://amgn.mx/newsletters/numero-23-junio-2020',
        },
        {
            title: 'Mayo 2020',
            subtitle: 'No. 22',
            img: '22.png',
            href: 'http://amgn.mx/newsletters/numero-22-mayo-2020',
        },
        {
            title: 'Abril 2020',
            subtitle: 'No. 21',
            img: '21.png',
            href: 'http://amgn.mx/newsletters/numero-21-abril-2020',
        },
        {
            title: 'Marzo 2020',
            subtitle: 'No. 20',
            img: '20.png',
            href: 'http://amgn.mx/newsletters/numero-20-marzo-2020',
        },
        {
            title: 'Febrero 2020',
            subtitle: 'No. 19',
            img: '19.png',
            href: 'http://amgn.mx/newsletters/numero-19-febrero-2020',
        },
        {
            title: 'Enero 2020',
            subtitle: 'No. 18',
            img: '18.png',
            href: 'http://amgn.mx/newsletters/numero-18-enero-2020',
        },
        {
            title: 'Diciembre 2019',
            subtitle: 'No. 17',
            img: '17.png',
            href: 'http://amgn.mx/newsletters/numero-17-diciembre-2019',
        },
        {
            title: 'Diciembre 2019',
            subtitle: 'No. 16',
            img: '16.png',
            href: 'http://amgn.mx/newsletters/numero-16-diciembre-2019',
        },
        {
            title: 'Noviembre 2019',
            subtitle: 'No. 15',
            img: '15.jpg',
            href: 'http://amgn.mx/newsletters/numero-15-noviembre-2019',
        },
        {
            title: 'Octubre 2019',
            subtitle: 'No. 14',
            img: '14.png',
            href: 'http://amgn.mx/newsletters/numero-14-octubre-2019',
        },
        {
            title: 'Septiembre 2019',
            subtitle: 'No. 13',
            img: '13.jpg',
            href: 'http://amgn.mx/newsletters/numero-13-septiembre-2019',
        },
        {
            title: 'Agosto 2019',
            subtitle: 'No. 12',
            img: '12.jpg',
            href: 'http://amgn.mx/newsletters/numero-12-agosto-2019',
        },
        {
            title: 'Julio 2019',
            subtitle: 'No. 11',
            img: '11.jpg',
            href: 'http://amgn.mx/newsletters/numero-11-julio-2019',
        },
        {
            title: 'Junio 2019',
            subtitle: 'No. 10',
            img: '10.png',
            href: 'http://amgn.mx/newsletters/numero-10-junio-2019',
        },
        {
            title: 'Junio 2019',
            subtitle: 'No. 09',
            img: '09.png',
            href: 'http://amgn.mx/newsletters/numero-09-junio-2019',
        },
        {
            title: 'Mayo 2019',
            subtitle: 'No. 08',
            img: '08.png',
            href: 'http://amgn.mx/newsletters/numero-08-mayo-2019',
        },
        {
            title: 'Abril 2019',
            subtitle: 'No. 07',
            img: '07.png',
            href: 'http://amgn.mx/newsletters/numero-07-abril-2019',
        },
        {
            title: 'Marzo 2019',
            subtitle: 'No. 06',
            img: '06.png',
            href: 'http://amgn.mx/newsletters/numero-06-marzo-2019',
        },
        {
            title: 'Febrero 2019',
            subtitle: 'No. 05',
            img: '05.png',
            href: 'http://amgn.mx/newsletters/numero-05-febrero-2019',
        },
          {
            title: 'Diciembre 2018',
            subtitle: 'No. 04',
            img: '04.png',
            href: 'http://amgn.mx/newsletters/numero-04-diciembre-2018',
        },
        {
            title: 'Noviembre 2018',
            subtitle: 'No. 03',
            img: '03.png',
            href: 'http://amgn.mx/newsletters/numero-03-noviembre-2018',
        },
        {
            title: 'Octubre 2018',
            subtitle: 'No. 02',
            img: '02.jpg',
            href: 'http://amgn.mx/newsletters/numero-02-octubre-2018',
        },
        {
            title: 'Agosto 2018',
            subtitle: 'No. 01',
            img: '01.jpg',
            href: 'http://amgn.mx/newsletters/numero-01-agosto-2018',
        },
    ] 