footer
    h2.subtitle Únete a la conversación y multiplica nuestra voz
    hr.separator
    a(href="http://amgn.mx/", target="_blank"): img(src="img/icons/web.svg", alt="amgn web")
    a(href="https://www.facebook.com/AMGNMx", target="_blank"): img(src="img/icons/facebook.svg", alt="amgn facebook")
    a(href="https://twitter.com/AMGNMx", target="_blank"): img(src="img/icons/twitter.svg", alt="amgn twitter")