header.header
    .wrap.header__content
        .header__left
            a(href="https://amgn.mx/", target="_blank", rel="noopener"): img(src=`${pathImg}amgn-logo.svg`, class="header__logo", alt="AMGN - Asociación Mexicana del Gas Natural")
        .header__right
            h1.amgnoticias AMGN<span>oticias</span>